<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="People.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <People.Desktop.Properties.Settings>
            <setting name="Lang" serializeAs="String">
                <value>pl-PL</value>
            </setting>
        </People.Desktop.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPeopleService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63497/PeopleService.svc/base"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPeopleService"
                contract="PeopleService.IPeopleService" name="BasicHttpBinding_IPeopleService" />
        </client>
    </system.serviceModel>
</configuration>